body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} /*nnhgngh*/

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #666;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
}

.error {
    color: #ff0000;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:after {
    content: "";
    display: table;
    clear: both;
}

.form-group label,
.form-group input,
.form-group select,
.form-group textarea {
    float: left;
    width: 100%;
}

.form-group span.error {
    float: left;
    width: 100%;
}

.form-group span.error:empty {
    display: none;
}

.success-message {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Flexbox */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    width: calc(32% - 10px); /* Adjust as needed */
}

/* Increase size of date of birth input field */
#birthDate {
    width: calc(100% - 12px); /* Adjust as needed */
    padding: 10px;